<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
	</configSections>
	<connectionStrings>
		<add name="DinerMax3000.Bussiness.Properties.Settings.DinerMax3000ConnectionStrings"
			 connectionString="Data Source=.\main;Initial Catalog=DinerMax3000;Persist"
			 providerName="SySte.Data.SqlClient" />
	</connectionStrings>
</configuration>